
.roboto-<uniquifier> {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

* {
    font-family: roboto;
    margin: 0;
    padding: 0;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 40px;
}

.flex-container {
    height: auto;
}

/*Section 1*/



.one{
    background-color: #1F2937;
    padding: 200px;
    margin: 0px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.hero_text{
    font-size: 48px;
    font-weight: 900S;
}

.first {
    background-color: #3882f6;
    border-radius: 5px;
    color: #F9FAF8;
    border: none;
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-left: 0px;
}

.left{
    margin-right: 50px;
    width: 50%;
}


.right{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


/*Section 2*/
.two {
    text-align: center;
}

.box_container {
    display: flex;
    justify-content: center; 
    gap: 70px; 
    margin: 20px;
}

.box_item {
    padding: 0;
    font-size: 11px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.box_item p {
    padding-right: 9px;
}

.box {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    border: 4px solid darkslategray;
    margin-right: 10px;
    }

  /*Section 3*/

.three{
    justify-content: center; 
    color: #1F2937;
    background-color: hsl(220, 13%, 91%);
    padding: 100px;
}

.big_text{
    text-align: left;
    font-size: 36px;
}

.small_text{
    text-align: right;
    font-size: 20px;
}

  /*Section 4*/

  .four{
    border-radius: 3px;
    margin:10px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    color: #F9FAF8;
    width: 80%;
    height: 40px;
    text-align: left;
  }

  .second {
    margin-left: 100px;
    background-color: #F9FAF8;
    border-radius: 5px;
    color: #3882f6;
    border: none;
    width: 100px;
    height: 20px;
    margin-top: 10px;
}